.wrapper{
    display: relative;
    padding: 0 1rem;
      
    display: grid;
    
   
   }
   
   @media (max-width: 768px) {
       html{
           font-size: 87.5%;
       }
       .wrapper{
           grid-template-columns: 1fr;
       }
   }
   